doctype html
html(lang='en')
  include common/head.pug
  +head("Create your own ticket!")
  body
    header
      include common/navbar.pug
      +navbar(user)

      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Minimum Viable landing page
            p.lead This tutorial teaches you how to build a NodeJS web application covering key topics
            p.lead.mb-4 Learn how to launch a landing page and start collecting sales leads

            form(action='/', method="POST")
              table.table
                p Your Name
                tr
                  input(name="name", type="text", placeholder="e.g. Antony Pym").form-control
                p Your email
                tr
                  input(name="email", type="email", placeholder="e.g. antonypym@accenture.com").form-control
                p Your contact
                tr
                  input(name="contact", type="number", placeholder="e.g. 91234567").form-control
                p Select the assets or the topic you are interested in (hold ctl/cmd to select multiple)

                - let topics = ["API Dev Ops", "Chat as a service", "recruitment Platform", "Aesop", "Travel market space", "Banking App", "AR car visualizer"];
                select(name='topic')
                  each topic in topics
                    option(value=topic) #{topic}

                p Ticket Details
                tr
                  input(name='detail', type='text', placeholder="Please let us know which assets are you interested in trying out").form-control
                
                .input-group-append
                  button(type="submit").btn.btn-primary Submit


    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')

  
