doctype html
html(lang='en')
  include ../common/head.pug
  +head("Edit ticket")
  body
    header
      include ../common/navbar.pug
      +navbar()

      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Edit tickets
            p #{ticket.detail}
            form(action='/ticket/' + ticket.id + "/edit", method="POST")
                .input-group.mb-3
                    input(name="ticket_response", type="text", placeholder="Give your response here", value=ticket.response).form-control
                    .input-group-append
                        button(type="submit").btn.btn-primary Save
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/tickets.js')