
doctype html
html(lang='en')
  include ../common/head.pug
  +head("Tickets")
  body
    header
      include ../common/navbar.pug
      +navbar()

      .container
        .row.align-items-center
          .col-md-6.order-md-6.text-center.text-md-left.pr-md-5
            h1 Tickets
            table.table
                thead
                    tr
                        th(scope='col') Client Email
                        th(scope='col') Ticket Detail
                        th(scope='col') Respond
                        th(scope='col')
                    tr
                tbody
                  td
                      span #{ticket.email}
                  td
                      span #{ticket.detail}
                  td
                      a(href='/ticket/' + ticket.id + '/edit') respond
                  td
                      form(action='/ticket/' + ticket.id + "/delete", method="POST")
                        button(type="submit").btn.btn-primary Delete
            if ticket.respond
              p #{ticket.response}
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/tickets.js')